<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <title>던파티</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta property="twitter:card" content="summary_large_image" />
        <style data-tag="default-style-sheet">
            html {
                font-family: Inter;
                font-size: 16px;
            }

            body {
                font-weight: 400;
                font-style:normal;
                text-decoration: none;
                text-transform: none;
                letter-spacing: normal;
                line-height: 1.15;
                color: var(--dl-color-gray-black);
                background-color: var(--dl-color-gray-white);
            }
        </style>
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
                data-tag="font"
        />
        <link rel="stylesheet" href="./css/basic.css" />
        <link href="./css/common_style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
</th:block>
<body>
<div>
    <div id="container">
        <div id="features">
            <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
            <button class="btn btn-primary character-search" type="button" data-bs-toggle="collapse" data-bs-target="#characterSearch" aria-expanded="false" aria-controls="characterSearch">
                캐릭터 검색
            </button>
            <div class="collapse" id="characterSearch">
                <div class="card card-body">
                    <div id="container-search">
                        <select class="search-select">
                            <option value="all">전체</option>
                            <option value="adventure">모험단</option>
                            <option value="cain">카인</option>
                            <option value="diregie">디레지에</option>
                            <option value="siroco">시로코</option>
                            <option value="prey">프레이</option>
                            <option value="casillas">카시야스</option>
                            <option value="hilder">힐더</option>
                            <option value="anton">안톤</option>
                            <option value="bakal">바칼</option>
                        </select>
                        <input
                                type="text"
                                class="input"
                        />
                        <button class="button">검색</button>
                    </div>

                    <div id="searched" class="container-character"> </div>
                </div>
            </div>

            <div class="container-filter">
                <div class="form-check form-check-inline form-check-reverse">
                    <label class="form-check-label" for="ispinsCheckbox">
                        <img src="image/이스핀즈" alt="">
                    </label>
                    <input class="form-check-input" type="checkbox" id="ispinsCheckbox" value="ispins">
                </div>
                <div class="form-check form-check-inline form-check-reverse">
                    <label class="form-check-label" for="dimenCheckbox">
                        <img src="image/차원회랑" alt="">
                    </label>
                    <input class="form-check-input" type="checkbox" id="dimenCheckbox" value="dimension">
                </div>
                <div class="form-check form-check-inline form-check-reverse">
                    <label class="form-check-label" for="bakalCheckbox">
                        <img src="image/기계혁명" alt="">
                    </label>
                    <input class="form-check-input" type="checkbox" id="bakalCheckbox" value="bakal">
                </div>
                <div class="form-check form-check-inline form-check-reverse" style="position: relative; top: -6px;">
                    <label class="form-check-label" for="clearCheckbox">
                        클리어
                    </label>
                    <input class="form-check-input" type="checkbox" id="clearCheckbox" value="clear">
                </div>
                <button type="button" class="btn btn-secondary filter">정렬</button>
                <button type="button" class="btn btn-secondary init">초기화</button>
            </div>

            <div class="container-character main-list">

            </div>

        </div>
    </div>
</div>
</body>
<script src="/script/module/characters.js"></script>
<script src="/script/module/cookie.js"></script>
<script src="/script/module/fetch.js"></script>
<script src="/script/module/item.js"></script>
<script src="/script/character.js"></script>
<script>
</script>
</html>
