<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headFragment">
  <head>
    <title>던파티</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);
      }

      .border-bl {
        border: 1px black solid;
      }
    </style>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            data-tag="font"
    />
    <link rel="stylesheet" href="./css/basic.css" />
    <link href="./css/common_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
</th:block>
<body>
<div>
  <div id="container">
    <div id="features">
      <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

      <div id="container-search" style="margin: 0 auto;">
        <select class="search-select">
          <option value="number">파티 번호</option>
          <option value="adventure">모험단</option>
        </select>
        <input
                type="text"
                class="input"
                style="width: 500px;"
        />
        <button class="button">검색</button>
      </div>

      <div class="container-party"> </div>
    </div>
  </div>
</div>

</body>
<script src="/script/module/exchange.js"></script>
<script src="/script/module/characters.js"></script>
<script src="/script/module/cookie.js"></script>
<script src="/script/module/fetch.js"></script>
<script src="/script/module/item.js"></script>
<script src="/script/exchange.js"></script>
<script>
</script>
</html>
